<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">{{ isEditable? 'Edit ' : '' }}Profile</h5>
        </div>
        <div class="card-body">

          <div class="d-flex flex-column flex-md-row">
            <div class="px-md-1 flex-fill required">
              <label> First Name </label>
              <input class="form-control" type="text" [(ngModel)]="item.first_name" [disabled]="!isEditable" required />
            </div>
            <div class="px-md-1 flex-fill required">
              <label> Other Names </label>
              <input class="form-control" type="text" [(ngModel)]="item.other_names" [disabled]="!isEditable"
                required />
            </div>
          </div>
          <div class="d-flex flex-column flex-md-row">
            <div class="px-md-1 flex-fill">
              <label> Username </label>
              <input class="form-control" type="text" [(ngModel)]="item.username" [disabled]="!isEditable" />
            </div>
            <div class="px-md-1 flex-fill required">
              <label> Email Address </label>
              <input class="form-control" type="email" [(ngModel)]="item.email" [disabled]="!isEditable" required />
            </div>
          </div>
          <div class="d-flex flex-column flex-md-row">
            <div class="px-md-1 flex-fill required">
              <label> Gender </label>
              <select class="form-control" [(ngModel)]="item.gender_id" [disabled]="!isEditable" required>
                <option *ngFor="let gender of genders" class="form-control" [value]="gender.id">
                  {{ gender.name }}
                </option>
              </select>
            </div>
            <div class="px-md-1 flex-fill">
              <label> Date of Birth </label>
              <div class="input-group">
                <input class="form-control bg-white" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}"
                  [(ngModel)]="item.date_of_birth" ngbDatepicker #d="ngbDatepicker" [disabled]="!isEditable" />
                <span class="input-group-addon" (click)="d.toggle()">
                  <span class="tim-icons icon-calendar-60"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column flex-md-row">
            <div class="px-md-1 flex-fill">
              <label> Place of Birth </label>
              <input class="form-control" type="text" [(ngModel)]="item.place_of_birth" [disabled]="!isEditable" />
            </div>
          </div>
          <hr *ngIf="!!showPasswordSection" />
          <div *ngIf="!!showPasswordSection" class="d-flex flex-column flex-md-row">
            <div class="px-md-1 flex-fill required">
              <label> Current Password </label>
              <input class="form-control" type="password" [(ngModel)]="current_password" />
            </div>
            <div class="px-md-1 flex-fill required">
              <label> New Password </label>
              <input class="form-control" type="password" [(ngModel)]="new_password" />
            </div>
            <div class="px-md-1 flex-fill required">
              <label> Confirm Password </label>
              <input class="form-control" type="password" [(ngModel)]="confirm_password" />
            </div>
          </div>

        </div>
        <div class="card-footer">
          <div *ngIf="!isEditable" class="d-flex justify-content-between">
            <button class="btn btn-fill btn-info" (click)="setEditableTrue()">
              Edit Profile
            </button>
            <button *ngIf="!showPasswordSection" class="btn btn-fill btn-warning" (click)="showPasswordSection = true">
              Edit Password
            </button>
            <button *ngIf="!!showPasswordSection" class="btn btn-fill btn-warning"
              (click)="showPasswordSection = false">
              Save New Password
            </button>
          </div>

          <div *ngIf="!!isEditable" class="d-flex justify-content-between">
            <button class="btn btn-fill btn-success" (click)="setEditableFalse()">
              Cancel
            </button>
            <button class="btn btn-fill btn-danger" (click)="setEditableFalse()">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="card-body">
          <p class="card-text"></p>
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class="avatar" src="http://lorempixel.com/124/124/people" />

              <h5 class="title">{{ item.full_name }}</h5>
            </a>
            <p class="description">Ceo/Co-Founder</p>
          </div>
          <div class="card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class="card-footer">
          <div class="button-container">
            <button class="btn btn-primary" href="javascript:void(0)">
              Edit Picture
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
