<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Log In</h1>
        </div>
        <div class="card-body">
          <form>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputEmail1"> Email address </label>
                <input class="form-control" placeholder="mike@email.com" type="email" />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPassword"> Password </label>
                <input class="form-control" placeholder="password" type="password" pattern=".+@.+\..+" />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <button class="btn btn-fill btn-danger mx-auto" type="submit">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
