<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-md-8">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Register</h1>
        </div>
        <div class="card-body">
          <form #form="ngForm" [noValidate]="false">

            <div class="d-flex flex-column flex-md-row" *ngIf="errorMessage">
              <div class="px-md-1 flex-fill text-center">
                <label class="text-danger font-weight-bold"> {{ errorMessage }} </label>
              </div>
            </div>

            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1 flex-fill required">
                <label> First Name </label>
                <input class="form-control" type="text" name="first_name" #first_name="ngModel" ngModel required />
              </div>
              <div class="px-md-1 flex-fill required">
                <label> Other Names </label>
                <input class="form-control" type="text" name="other_names" ngModel #other_names="ngModel" required />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1 flex-fill">
                <label> Username </label>
                <input class="form-control" type="text" name="username" ngModel #username="ngModel" />
              </div>
              <div class="px-md-1 flex-fill required">
                <label> Email Address </label>
                <input class="form-control" type="email" name="email" ngModel #email="ngModel" required />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1 flex-fill required">
                <label> Password </label>
                <input class="form-control" type="password" name="password" ngModel #password="ngModel" required />
              </div>
              <div class="px-md-1 flex-fill required">
                <label> Repeat Password </label>
                <input class="form-control" type="password" name="repeat_password" ngModel #repeat_password="ngModel"
                  required />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1 flex-fill required">
                <label> Gender </label>
                <select class="form-control" name="gender_id" ngModel #gender_id="ngModel" required>
                  <option *ngFor="let gender of genders" class="form-control" [value]="gender.id">
                    {{ gender.name }}
                  </option>
                </select>
              </div>
              <div class="px-md-1 flex-fill">
                <label> Date of Birth </label>
                <input class="form-control" type="date" name="date_of_birth" ngModel #date_of_birth="ngModel" />
              </div>
            </div>
            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1 flex-fill">
                <label> Place of Birth </label>
                <input class="form-control" type="text" name="place_of_birth" ngModel #place_of_birth="ngModel" />
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <button class="btn btn-fill btn-danger mx-auto" (click)="onSubmit(form)" type="submit">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
