<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">List of Courses</h4>
          <p class="category d-flex justify-content-between">
            All courses done in your school
          </p>
        </div>
        <div class="card-body">


          <hr class="mt-0" />
          <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="d-flex flex-column flex-md-row">
              <div class="px-md-1">
                <label> Title </label>
                <input class="form-control form-control-sm" type="search" [(ngModel)]="searchFilter.title" />
              </div>
              <div class="px-md-1">
                <label> Code </label>
                <input class="form-control form-control-sm" type="search" [(ngModel)]="searchFilter.code" />
              </div>
              <div class="px-md-1">
                <label for="exampleInputEmail1"> Description </label>
                <input class="form-control form-control-sm" type="search" [(ngModel)]="searchFilter.description" />
              </div>
            </div>

            <div class="d-flex flex-row justify-content-end">
              <div>
                <label for="exampleInputEmail1"></label>
                <a class="d-block btn-sm text-dark pr-0" title="Add Item" href="javascript:void(0)"
                  (click)="openAddModal()">
                  <i class="tim-icons icon-simple-add"></i>
                </a>
              </div>
              <div>
                <label for="exampleInputEmail1"></label>
                <a class="d-block btn-sm text-dark pr-0" title="Refresh List" href="javascript:void(0)"
                  (click)="refresh()">
                  <i class="tim-icons icon-refresh-02"></i>
                </a>
              </div>
            </div>
          </div>
          <hr class="mb-0" />


          <div class="table-responsive">
            <ngx-datatable #datatable class="expandable" [rows]="itemList | filterBy: searchFilter"
              [limit]="tblStx.limit" [columnMode]="tblStx.columnMode" [trackByProp]="'id'" [loadingIndicator]="true"
              [headerHeight]="42" [rowHeight]="46" [footerHeight]="42">

              <ngx-datatable-column name="#" [flexGrow]="5" [headerClass]="'table-header justify-content-end'"
                [cellClass]="'table-cell justify-content-end'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span>{{rowIndex + 1}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="TITLE" prop="title" [flexGrow]="20" [headerClass]="'table-header'"
                [cellClass]="'table-cell'">
              </ngx-datatable-column>
              <ngx-datatable-column name="CODE" prop="code" [flexGrow]="15" [headerClass]="'table-header'"
                [cellClass]="'table-cell'">
              </ngx-datatable-column>
              <ngx-datatable-column name="DESCRIPTION" prop="description" [flexGrow]="35" [headerClass]="'table-header'"
                [cellClass]="'table-cell'">
              </ngx-datatable-column>
              <ngx-datatable-column name="INSTRUCTORS" [flexGrow]="15" [headerClass]="'table-header'"
                [cellClass]="'table-cell'">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <a [routerLink]="['/instructors']">Instructors</a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="ACTIONS" [flexGrow]="15" [headerClass]="'table-header justify-content-end'"
                [cellClass]="'table-cell justify-content-end'">
                <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                  <div class="d-flex justify-content-end">
                    <a class="px-1 text-default" href="javascript:void(0)" title="Edit Item"
                      (click)="openEditModal(row)">
                      <i class="tim-icons icon-pencil"></i>
                    </a>
                    <a class="px-1 text-default" href="javascript:void(0)" title="Remove Item"
                      (click)="openDeleteModal(row)">
                      <i class="tim-icons icon-simple-remove"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <ngx-datatable-footer></ngx-datatable-footer>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
