<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex flex-column flex-md-row">
    <div class="px-md-1 flex-fill required">
      <label> First Name </label>
      <input class="form-control" type="text" [(ngModel)]="item.first_name" required />
    </div>
    <div class="px-md-1 flex-fill required">
      <label> Other Names </label>
      <input class="form-control" type="text" [(ngModel)]="item.other_names" required />
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <div class="px-md-1 flex-fill">
      <label> Username </label>
      <input class="form-control" type="text" [(ngModel)]="item.username" />
    </div>
    <div class="px-md-1 flex-fill required">
      <label> Email Address </label>
      <input class="form-control" type="email" [(ngModel)]="item.email" required />
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <div class="px-md-1 flex-fill required">
      <label> Password </label>
      <input class="form-control" type="password" [(ngModel)]="item.password" required />
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <div class="px-md-1 flex-fill required">
      <label> Gender </label>
      <select class="form-control" [(ngModel)]="item.gender_id" required>
        <option *ngFor="let gender of genders" class="form-control" [value]="gender.id">
          {{ gender.name }}
        </option>
      </select>
    </div>
    <div class="px-md-1 flex-fill">
      <label> Date of Birth </label>
      <input class="form-control" type="date" [(ngModel)]="item.date_of_birth" />
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row">
    <div class="px-md-1 flex-fill">
      <label> Place of Birth </label>
      <input class="form-control" type="text" [(ngModel)]="item.place_of_birth" />
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(item)">Save</button>
</div>
